<!DOCTYPE html>
<html
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <style>
        #nav {
            background-color: beige;
            height: 70px;
            padding: 0px 20px;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #nav a {
            font-size: 20px;
                color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <form method='get' action='index_templates.php'>
        <div id="nav">
            <a href='index_dbal.php?id=willkommen'> Willkommen </a>
            <div>
                <a href='index_templates.php?id=info_impressum'>  Impressum </a>
                <a href='index_templates.php?id=info_datenschutz'>  Datenschutz </a>
            </div>

        </div>
    </form>
</body>
</html>