<!DOCTYPE html>
<html
        xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
</head>
<body>
    <form method='get' action='index_templates.php'>
        <nav>
            <ul>
                <li> <a href='index_templates.php?id=willkommen'> Willkommen </a> </li>
                <li> <a href='index_templates.php?id=info_impressum'>  Impressum </a> </li>
                <li>  <a href='index_templates.php?id=info_datenschutz'>  Datenschutz </a> </li>
            </ul>
        </nav>
    </form>
</body>
</html>